<alert type="success" style="padding: 0px;"><h2 style="text-align: center">Student Information System</h2></alert>
<form >

  <div class="container" style=" width: 500Px;">
    <label><b>Email Address</b></label>
    <input type="text" placeholder="Enter Email Address" name="Email" required>    

        
  </div>

  <div class="container" style="background-color:#f1f1f1; width: 500Px;">
       
    <div class="col-md-6">
    <button [routerLink]="['/login']" class="cancel" style="background: red" >Back</button>
    </div>
    <div class="col-md-6">
    <button type="submit">Submit</button>
    </div>
    
  </div>
</form>
<div class="text-center">
    <p>
        <a href="http://jasonwatmore.com/post/2016/09/29/angular-2-user-registration-and-login-example-tutorial"
         target="_top">Student Information System </a>
    </p>
    <!--<p>
        <a href="" target="_top">Karuna</a>
    </p>-->
</div>
