 
<nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">
				<!--<li class="text-center">
                    <img src="assets/img/find_user.png" class="user-image img-responsive"/>
					</li>-->
				
					
                    <li>
                        <a class="active-menu"  [routerLink]="['Home/Index']"><i class="fa fa-dashboard fa-6x"></i> Dashboard</a>
                    </li>
                     <li>
                        <a  [routerLink]="['/task']"><i class="fa fa-desktop fa-6x"></i>Task</a>
                    </li>
                    <li>
                        <a  href="tab-panel.html"><i class="fa fa-qrcode fa-6x"></i> Tabs & Panels</a>
                    </li>
						   <li  >
                        <a   href="chart.html"><i class="fa fa-bar-chart-o fa-6x"></i> Morris Charts</a>
                    </li>	
                      <li  >
                        <a  href="table.html"><i class="fa fa-table fa-6x"></i> Table Examples</a>
                    </li>
                    <li  >
                        <a  href="form.html"><i class="fa fa-edit fa-6x"></i> Forms </a>
                    </li>	
                    <li  >
                        <a  href="form.html"><i class="fa fa-edit fa-6x"></i> Forms </a>
                    </li>
                    <li  >
                        <a  href="form.html"><i class="fa fa-edit fa-6x"></i> Forms </a>
                    </li>
                    <li  >
                        <a  href="form.html"><i class="fa fa-edit fa-6x"></i> Forms </a>
                    </li>
                    <li  >
                        <a  href="form.html"><i class="fa fa-edit fa-6x"></i> Forms </a>
                    </li>
                    			
					
					                   
                    
                  <li  >
                        <a  href="blank.html"><i class="fa fa-square-o fa-6x"></i> Blank Page</a>
                    </li>	
                </ul>
               
            </div>
            
        </nav>  

        